// このファイルには変数を格納しています。

$cButtonBeforeHover: rgb(48, 200, 214);
$cButtonAfterHover: rgb(35, 164, 176);
$cButtonDoneBeforeHover: #0fa88a;
$cButtonDoneAfterHover: #0d9177;
$cWhite: #fff;
$cTitleColor: #2b546a;;
$cSubTItleColor: #8491a5;
$cNameColor: #bac6d3;
$cBackgroundColor: #f9fbfe;