.btn-normal, .header__btn {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0px 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #30c8d6;
  border-radius: 5px;
  color: #fff;
  min-width: 200px;
  line-height: 48px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
}

.btn-normal:hover, .header__btn:hover {
  background-color: #23a4b0;
  text-decoration: none;
  color: #fff;
}

.btn-done {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-align: center;
  background-color: #0fa88a;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8125rem;
  height: 45px;
  border-radius: 2px;
  line-height: 45px;
  min-width: 140px;
  border: none;
}

.btn-done:hover {
  background-color: #0d9177;
}

hr {
  opacity: 0.3;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f9fbfe;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 35px;
}

.header__logo {
  font-size: 22px;
  font-weight: bold;
  color: #2b546a;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__li {
  padding: 0;
  margin: 30px;
}

.header__btn {
  margin-top: 18px;
  font-size: 0.6rem;
  font-size: 15px;
  line-height: 46px;
  min-width: 130px;
  height: 45px;
  padding: 0;
}

.footer {
  padding: 60px auto;
}

.footer__logo {
  display: inline-block;
  font-size: 42px;
}

.footer__logo__title {
  color: #2b546a;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 35px;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__li {
  padding: 0;
  margin: 30px;
}

.green {
  background-color: #9ff1d6;
  height: 650px;
  margin-bottom: 110px;
  position: relative;
}

.green__code {
  z-index: 9;
  position: absolute;
  width: 350px;
  background-color: #2b546a;
  height: 450px;
  top: 200px;
  left: 190px;
  border-radius: 10px;
}

.green__layout {
  position: absolute;
  z-index: 7;
  background-color: #fff;
  width: 750px;
  height: 550px;
  top: 100px;
  border-radius: 13px;
  left: 500px;
}

.green__layout__title {
  position: absolute;
  z-index: 8;
  background-color: #59c9c0;
  width: 100%;
  height: 60px;
  top: 50px;
}

.green__layout__lesson1 {
  position: absolute;
  z-index: 8;
  width: 130px;
  height: 150px;
  background-color: #59c9c0;
  left: 100px;
  top: 350px;
}

.green__layout__lesson2 {
  position: absolute;
  z-index: 8;
  width: 130px;
  height: 150px;
  background-color: #ce99ce;
  left: 250px;
  top: 350px;
}

.green__layout__lesson3 {
  position: absolute;
  z-index: 8;
  width: 130px;
  height: 150px;
  background-color: #f88585;
  left: 400px;
  top: 350px;
}

.green__layout__lesson4 {
  position: absolute;
  z-index: 8;
  width: 130px;
  height: 150px;
  background-color: #f7f77a;
  left: 550px;
  top: 350px;
}

.bimg {
  left: 1000px;
  background-color: black;
  opacity: 0.05;
  height: 550px;
  width: 100%;
  margin-bottom: 100px;
}

.home {
  width: 100%;
  padding-top: 150px;
  position: relative;
  background-color: #f9fbfe;
  padding-bottom: 70px;
}

.home__main-title {
  font-size: 55px;
  text-align: center;
  color: #2b546a;
  margin-bottom: 100px;
}

.home__start-form {
  position: relative;
  text-align: center;
}

.home__account {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #2b546a;
}

.home__form-item {
  position: relative;
}

.home__form-item-label {
  display: block;
  position: relative;
  margin: 10px;
  color: #8491a5;
}

.home__form-item-label-2 {
  display: block;
  position: relative;
  margin: 10px;
  color: #8491a5;
}

.home__form-item-input {
  display: block;
  position: relative;
  margin: 30px auto;
  width: 400px;
}

.home__form-btn {
  margin-bottom: 100px;
}

.home__intro-container {
  text-align: center;
}

.home__sub-title {
  color: #2b546a;
  margin-bottom: 27px;
  font-size: 35px;
}

.home__intro-contents {
  color: #8491a5;
  margin-bottom: 100px;
}

.home__text-container {
  margin-top: 200px;
  text-align: center;
}

.home__start-form-container-button {
  text-align: center;
}

.success-story__main {
  background-color: #2b546a;
  max-width: 100%;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success-story__title {
  padding-top: 100px;
  color: #fff;
  font-size: 35px;
  margin-bottom: 30px;
}

.success-story__sub-title {
  color: #fff;
  font-size: 1.15em;
}

.success-story__main-list {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin: 56px 0;
}

.success-story__card {
  display: -ms-grid;
  display: grid;
  padding: 40px 24px;
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 312px;
  border-radius: 10px;
  height: 100%;
}

.success-story__card__summary {
  color: #2b546a;
  font-weight: bold;
}

.success-story__card__icon-container {
  margin-bottom: 50px;
}

.success-story__card__info {
  margin-top: 50px;
}

.success-story__card__user-name {
  margin-top: 50px;
  color: #bac6d3;
  font-weight: bold;
  font-size: 18px;
}

.success-story__card__country-name {
  color: #bac6d3;
}

.icon-image {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.question {
  position: relative;
  padding-top: 150px;
}

.question__main-title {
  font-size: 48px;
  text-align: center;
  color: #2b546a;
  margin-bottom: 20px;
}

.question__description {
  text-align: center;
  color: #8491a5;
  margin-bottom: 150px;
}

.question__contents {
  background-color: #2b546a;
  padding: 150px;
  margin-bottom: 150px;
}

.question__items {
  text-align: center;
}

.question__item-title {
  color: #fff;
}

.question__sub-title {
  color: #fff;
  font-size: 32px;
}

.question__item-description {
  color: #8491a5;
  font-size: 23px;
}

.question__items-example {
  color: #fff;
}

.question__items-title {
  margin-bottom: 70px;
}

.question__ending {
  text-align: center;
  margin-bottom: 100px;
}

.question__subtitle {
  color: #2b546a;
  margin-bottom: 25px;
}

ul {
  list-style: none;
}

.section {
  width: 100%;
  position: relative;
  padding-top: 150px;
  background-color: #f9fbfe;
  padding-bottom: 100px;
}

.section__main-title {
  font-size: 55px;
  text-align: center;
  color: #2b546a;
  margin-bottom: 100px;
}

.section__form-item-input {
  position: relative;
}

.section__item-label {
  display: block;
  position: relative;
  margin: 12px;
  padding-left: 40px;
  font-size: 28px;
  color: #8491a5;
}

.section__item-input {
  resize: none;
  display: block;
  position: relative;
  margin: 30px auto;
  width: 90%;
  height: 20%;
  font-size: 20px;
}

.section__form-btn {
  text-align: right;
}

.section__sub-title {
  color: #2b546a;
  text-align: center;
  margin-bottom: 27px;
  font-size: 35px;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */