{% extends 'jobgate/layout.html' %}

{% block main-content %}
<!-- この中にHTMLの内容を書く。 -->

<div class="section__container">
    <div class="section__header">
        <h1 class="section__main-title">高校編</h1>
        <p class="section__sub-title">
            <span>この章では高校について振り返ってもらいます。</span>
        </p>
    </div>
    <!--TODO:下のフォームのアクションを正しいものに変える(伊藤)-->
    <form action=""　method="POST" class="section__form">
        <div class="section__item">
            <label for="name" class="section__item-label">高校生の時にがんばったことは？:</label>
            <input type="text" class="section__item-input" required>
        </div>
        <div class="section__item">
            <label for="name" class="section__item-label">なぜそれをがんばることができたのですか？:</label>
            <input type="text" class="section__item-input" required>
        </div>
        <div class="section__item">
            <label for="name" class="section__item-label">その経験を経て何を得ることが出来ましたか？:</label>
            <input type="text" class="section__item-input" required>
        </div>
        <div class="section__item">
            <label for="name" class="section__item-label">それを今後、どのような場面に行かせることができると思いますか？:</label>
            <input type="text" class="section__item-input" required>
        </div>
        <div class="section__form-btn">
            <input type="submit" class="btn-send" value="できた！">
        </div>
    </form>
</div>

{% endblock %}