{% extends 'jobgate/layout.html' %}

{% block main-content %}
<!-- この中にHTMLの内容を書く。 -->

<div class="question__container">
    <div class="question__title">
        <h1 class="question__main-title">
            Jobgateの流れ
        </h1>
        <p class="question__description">
            <span>このページではJobgateの流れについて説明します。</span>
            <div class="sentence-space__short"></div>
            <span>Jobgateは小学校編、中学校編、高校編、大学編に分かれています。</span>
        </p>
    </div>
    <div class="question__contents">
        <div class="question__items">
            <div class="question__items-title">
                <h2 class="quesiton__sub-title">小学校編</h2>
                <p class="question__description">
                    <span>この章では小学校についてまず振り返ってもらいます。</span>
                </p>
            </div>
            <div class="question__items-contents">
                <ul class="question__items-questions">
                    <li class="question__items-example">小学校ではどのようなことをしていた？</li>
                    <li class="question__items-example">小学生のときはどのような子だった？</li>
                    <li class="question__items-example">小学生のとき、好きだったものは？</li>
                </ul>
            </div>
        </div>
        <div class="question__items">
            <div class="question__items-title">
                <h2 class="quesiton__sub-title">中学校編</h2>
                <p class="question__description">
                    <span>この章では中学校についてまず振り返ってもらいます。</span>
                </p>
            </div>
            <div class="question__items-contents">
                <ul class="question__items-questions">
                    <li class="question__items-example">小学校ではどのようなことをしていた？</li>
                    <li class="question__items-example">小学生のときはどのような子だった？</li>
                    <li class="question__items-example">小学生のとき、好きだったものは？</li>
                </ul>
            </div>
        </div>
        <div class="question__items">
            <div class="question__items-title">
                <h2 class="quesiton__sub-title">高校編</h2>
                <p class="question__description">
                    <span>この章では小学校についてまず振り返ってもらいます。</span>
                </p>
            </div>
            <div class="question__items-contents">
                <ul class="question__items-questions">
                    <li class="question__items-example">小学校ではどのようなことをしていた？</li>
                    <li class="question__items-example">小学生のときはどのような子だった？</li>
                    <li class="question__items-example">小学生のとき、好きだったものは？</li>
                </ul>
            </div>
        </div>
        <div class="question__items">
            <div class="question__items-title">
                <h2 class="quesiton__sub-title">大学編</h2>
                <p class="question__description">
                    <span>この章では小学校についてまず振り返ってもらいます。</span>
                </p>
            </div>
            <div class="question__items-contents">
                <ul class="question__items-questions">
                    <li class="question__items-example">小学校ではどのようなことをしていた？</li>
                    <li class="question__items-example">小学生のときはどのような子だった？</li>
                    <li class="question__items-example">小学生のとき、好きだったものは？</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="question__ending">
        <h2 class="question__subtitle">それではさっそく、始めましょう！</h2>
        <!--aタグのhrefの部分に正しいURLを配置する(伊藤)-->
        <a href="#" class="btn-normal">次へすすむ</a>
    </div>
</div>

{% endblock %}